@{
    ViewData["Title"] = "About";
}

<h1>Sacrament Planner</h1>

<p>The Sacrament Planner application assists any bishopric member plan and manage sacrament meetings. Contact us with questions and comments!</p>
<h2>Contact Info</h2>
<h3>Dustin Crossley</h3>
<h4>Master Meeting Planner Extraordinaire</h4>
<p>cro12010@byui.edu</p>
<p>509.230.4296</p>

